.card__content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	gap: var(--8);
}

.card__content__media {
	position: relative;
	min-width: 138px;
	height: 138px;
	border: 1px solid var(--conexa-300);
	border-radius: var(--12);
	overflow: hidden;
	transition: all 300ms;

	@media (min-width: 960px) {
		& {
			min-width: 184px;
			height: 184px;
		}
	}

	@media (min-width: 1440px) {
		& {
			min-width: 40%;
		}
	}
}

.card__content__media__image {
	object-fit: cover;
}

.card__content__info {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.card__content__info_name {
	@media (min-width: 1440px) {
		font-size: var(--24);
	}
}
