.episodes {
	width: 100%;
	max-width: 520px;
	height: 100%;
	max-height: calc(50vh - 18px);
	padding: var(--12);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--20);

	background-color: var(--conexa-200);
	border-radius: var(--32);

	@media (min-width: 960px) {
		& {
			width: 100%;
			max-width: 100%;
			max-height: calc(100vh - 40px);
			justify-content: flex-start;
			align-items: center;
		}
	}
}

.episodes__content {
	width: 100%;
	height: 100%;
	padding: var(--12);
	padding-right: var(--8);

	display: flex;
	flex-direction: column;
	gap: var(--12);

	background-color: var(--conexa-50);
	border-radius: var(--20);

	@media (min-width: 960px) {
		& {
			padding-right: var(--4);
		}
	}
}

.episodes__heading {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.episodes__list,
.episodes__list_scrollable {
	&::-webkit-scrollbar {
		width: var(--4);
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background-color: var(--conexa-300);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--conexa-400);
	}
}

.episodes__list {
	width: 100%;
	overflow-y: hidden;
	border-radius: var(--8);

	@media (min-width: 960px) {
		& {
			height: 100%;
			overflow-y: scroll;
		}
	}
}

.episodes__list_not_found {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.episodes__list_scrollable {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: var(--12);

	@media (min-width: 960px) {
		& {
			width: 100%;
			height: auto;

			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			overflow-y: scroll;
		}
	}
}
