.button {
	/* Base */
	width: 100%;
	height: fit-content;
	height: 40px;
	padding: var(--8) var(--16);

	/* Positioning */
	text-align: center;
	vertical-align: middle;

	/* Flex */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	/* Colors */
	background-color: var(--conexa-aqua);

	/* Effects */
	border: none;
	border-radius: 12px;
	transition: all 300ms;

	/* Events */
	@media (pointer: fine) and (hover: hover) {
		&:hover {
			cursor: pointer;
			background-color: var(--conexa-aqua-accent);
		}

		@media (prefers-color-scheme: dark) {
			&:hover {
				background-color: var(--conexa-aqua-accent);
				transition: all 150ms;
			}
			&:active {
				background-color: var(--conexa-purple);
			}
		}
	}
}

.selected {
	background-color: var(--conexa-purple);
}
